@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;

    --color-primary: #4640de;
    --color-accent-blue: #26a4ff;
    --color-secondary: #ccccf5;
    --color-neutrals-0: #ffffff;
    --color-neutrals-10: #f8f8fd;
    --color-neutrals-20: #d6ddeb;
    --color-neutrals-30: #d0d4ea;
    --color-neutrals-40: #a8adb7;
    --color-neutrals-60: #7c8493;
    --color-neutrals-80: #515b6f;
    --color-neutrals-100: #25324b;
    --color-dark-bg: #202430;
    --color-disabled: #d6ddeb;

    --text-heading1: 40px;
    --text-heading--line-height: 1.3;
    --text-heading2: 48px;
    --text-heading2--line-height: 1.1;
    --text-heading3: 32px;
    --text-heading3--line-height: 1.2;
    --text-heading4: 24px;
    --text-heading4--line-height: 1.2;
    --text-heading5: 20px;
    --text-heading5--line-height: 1.2;
    --text-heading: 58px;
    --text-heading--line-height: 1.1;
    --text-small: 14px;
    --text-small--line-height: 1.6;
    --text-normal: 16px;
    --text-normal--line-height: 1.6;
    --text-large: 18px;
    --text-large--line-height: 1.6;
    --text-x-large: 20px, --text-x-large--line-height: 1.6;
    --text-btn-small: 14px;
    --text-btn-small--line-height: 1.6;
    --text-btn-large: 18px;
    --text-btn-large--line-height: 1.6;
    --text-btn-normal: 16px;
    --text-btn-normal--line-height: 1.6 --text-display-small: 20px;
    --text-display-small--line-height: 1.6 --text-display-normal: 48px;
    --text-display-normal--line-height: 1.6 --text-display-large: 72px;
    --text-display-large--line-height: 1.6;

    --container-7xl: 90rem;

    --font-lato: var(--font-lato);

    --shadow-calendar: 0px 4px 4px 0px #00000040;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: var(--font-rubik), san-serif;
    color: var(--color-neutrals-80);
}

@media (max-width: 320px) {
    html {
        transform: scale(calc(100vw / 320));
        transform-origin: top left;
    }

    body {
        width: 320px;
        overflow-x: hidden;
    }
}

@utility wrapper {
    padding-inline: 16px;
    max-width: 1800px;
    margin: 0 auto;

    @variant tablet {
        padding-inline: 48px;
    }

    @variant desktop {
        padding-inline: 124px;
    }
}

@utility visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@utility section {
    padding-top: 24px;
    padding-bottom: 24px;
    @variant tablet {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    @variant desktop {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

@utility subtitle {
    @apply font-lato font-extrabold text-heading4 desktop:text-heading3 text-neutrals-100;
}

@utility data {
    @apply text-small tablet:text-normal text-balance;
}

@utility footer-subtitle {
    @apply block text-normal tablet:text-large font-semibold text-neutrals-0 mb-[18px];
}

@utility link-actions {
    @apply hover:text-accent-blue active:text-accent-blue transition-colors duration-300;
}
